<div class="container">
  <div [hidden]="false">
    <form (submit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          [(ngModel)]="singupModel.username"
          #username="ngModel"
          required
        />
        <div
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="username.errors?.required">Username is required.</div>
        </div>
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="singupModel.password"
          #password="ngModel"
          required
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="password.errors?.required">Password is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-1" [disabled]="form.invalid">
        Signup
      </button>
    </form>
  </div>
</div>
