* {
  padding: 5px;
}
.container {
  display: grid;
}
.notification-subscriber {
  grid-row: 1;
  grid-column: 2;
  column-fill: 2;
}
.notification-publisher {
  grid-row: 1;
  grid-column: 1;
}
@media (max-width: 800px) {
  .container {
    display: block;
  }
}
