<div #notificationSubscriber class="noselect notification-subscriber">
  <h1>Notification subscriber</h1>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      [ngClass]="!pushEnabled ? 'disabled' : ''"
      data-toggle="button"
      aria-pressed="false"
      autocomplete="off"
      (click)="toggleWebPush()"
      [disabled]="!pushSupport"
    >
      Web Push API
    </button>
    <label *ngIf="pushSupport == false">
      {{'Web Push API is not supported by your browser'}}
    </label>
    <label *ngIf="pushSupport === true && pushGranted === false">
      {{'Web Push API is blocked from browser for this site'}}
    </label>
  </div>
</div>
